@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DCE9E2;
    height: 80px;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    color: #212529;
    margin-right: 30px;
}

.logo span {
    color: #00856F;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav li a {
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: #00856F;
}

nav li:nth-child(1) a {
    color: #00856F;
    font-weight: 700;
}

nav li {
    position: relative;
}

nav li::after {
    position: absolute;
    content: " ";
    width: 0%;
    height: 3px;
    border-radius: 2px;
    background-color: #00856F;
    bottom: -5px;
    left: 0;
    transition: 0.4s ease-in-out;
}

nav li:hover::after {
    width: 100%;
}

.button {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #00856F;
    border: 2px solid #00856F;
    border-radius: 50px;
    padding: 10px 20px;
}

.button:hover {
    background-color: #00856F;
    color: #fff;
    transition: 0.2s ease-in-out;
}

/* Fim do Header */

/* Início do Primeiro Container */

.s1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DCE9E2;
    height: 598px;
}

.content-1 {
    display: flex;
    flex-direction: column;
    gap: 27px;
    position: relative;
    bottom: 60px;
}

.content-1 span {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: #00856F;
}

.content-1 h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #212529;
}

.content-1 p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #495057;
}

.content-1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #00856F;
    border-radius: 50px;
    max-width: 263px;
    padding: 20px;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.content-1 a:hover {
    background-color: #007763;
}

.content-2 img {
   position: relative;
   right: 20%;
   bottom: 28px;
}

/* Fim do Primeiro Container */

/* Início do Segundo Container */

.s2 {
    position: absolute;
    bottom: -20%;
    left: 7%;
    border-radius: 7px;
    width: 1120px;
    height: 210px;
    background-color: #FFFAF1;
    border: 1px solid #DCE9E2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.line {
    height: 83px;
    width: 1px;
    background-color: #00856F;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itens h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #212529;
}

.itens p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00856F;
}

/* Fim do Segundo Container */

/* Início do Terceiro Container */

.s3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1082px;
    background-color: #F7F9F9;
}

#s3-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
}

#text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

#text span {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #00856F;
    margin-bottom: 10px;
}

#text h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

#all-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 45px 20px;
    border: 1px solid #DCE9E2;
    padding: 20px;
    height: 207px;
    width: 347px;
    background-color: #fff;
    border-radius: 8px;
}

.box h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
}

.box p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* Fim do Terceiro Container */

/* Início do Quarto Container */

.s4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFAF1;
    height: 734px;
}

.s4-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 67px;
}

.container-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 573px;
    height: 327px;
}

.container-text span {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #00856F;
}

.container-text h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #212529;
}

.container-text p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #495057;
}

/* Fim do Quarto Container */

/* Início do Quinto Container */