@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    --color--1--: #DCE9E2;
    --color--2--: #00856F;
    --color--3--: #212529;
    --color--4--: #FFFFFF;
    --color--5--: #F7F9F9;
    --color--6--: #495057;
    --color--7--: #FFFAF1;
    background-color: var(--color--1--);
}

img {
    max-width: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

h2 {
    font-size: clamp(30px, 5vw, 40px);
    color: var(--color--3--);
    line-height: 1.2;
}

h5 {
    font-size: 14px;
    color: var(--color--2--);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding-bottom: 1em;
}

p {
    font-size: 16px;
    color: var(--color--6--);
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

ul {
    list-style: none;
}

.row {
    display: flex;
}

.flex {
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
}

.flex>* {
    flex: 1 1 25em;
}

.column {
    display: grid;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/* Page Button */
.page-btn {
    font-weight: 700;
    font-size: 14px;
    color: var(--color--4--);
    fill: var(--color--4--);
    text-transform: uppercase;
    align-items: center;
    gap: 0.5em;
    background: var(--color--2--);
    padding: 1em 2em;
    max-width: max-content;
    border-radius: 50px;
}

.page-btn.active, .page-btn:hover {
    background: var(--color--4--);
    color: var(--color--2--);
    fill: var(--color--2--);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/* End Page Button */

/* Heading */
.heading {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
/* End Heading */

/* Navigation */
header {
    z-index: 1000;
}

.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--color--2--);
    filter: drop-shadow(0 -10px 20px var(--color--4--));
    transition: 0.5em ease-in-out;
}

.header {
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 2em 0;
}

.logo svg .p1 {
    fill: var(--color--3--);
}

.logo svg .p2 {
    fill: var(--color--2--);
}

.fixed .logo svg .p2 {
    fill: var(--color--1--);
}

nav {
    flex-grow: 1;
}

nav ul {
    align-items: center;
    gap: 2em;
    margin: auto;
}

nav ul li:nth-child(1) a {
    font-weight: 700;
}

nav a {
    position: relative;
    font-size: 16px;
    color: var(--color--2--);
    text-transform: capitalize;
}

.fixed nav a {
    color: var(--color--1--);
}

nav ul a {
    opacity: 0.7;
    padding: 0.5em 0;
}

nav ul a:hover {
    opacity: 1;
}

nav ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--color--2--);
    transition: 0.4s ease-in-out;
}

.fixed nav ul a::after {
    background: var(--color--1--);
}

nav ul a:hover::after {
    width: 100%;
}

.btn {
    font-weight: 700;
    font-size: 14px;
    color: var(--color--2--);
    text-transform: uppercase;
    border: 1px solid var(--color--2--);
    padding: 1em 2em;
    border-radius: 50px;
}

.btn:hover {
    color: var(--color--1--);
    background: var(--color--2--);
}

.fixed .btn {
    background: var(--color--2--);
    color: var(--color--1--);
    border-color: var(--color--1--);
}

.fixed .btn:hover {
    color: var(--color--2--);
    background: var(--color--1--);
}
/* End Navigation */

/* Hero Section */

.hero {
    padding-top: 2em;
}

.hero-details h1 {
    font-size: clamp(40px, 5vw, 55px);
    line-height: 1.2;
}

.hero-details p {
    padding: 2em 0;
}

.hero-img {
    filter: drop-shadow(0 0 26px #00856F);
}
/* End Hero Section */

/* Numbers */
.numbers {
    position: relative;
}

.numbers::after, .numbers::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: 100%;
    z-index: -1;
}

.numbers::after {
    top: 0;
    background: var(--color--1--);
}

.numbers::before {
    bottom: 0;
    background: var(--color--5--);
}

.numbers-content {
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5em;
    background: var(--color--7--);
    padding: 4em 2em;
    border: 1px solid var(--color--1--);
    border-radius: 5px;
}

.numbers-content div {
    position: relative;
}

.numbers-content h3 {
    font-size: 48px;
    color: var(--color--3--);
}

.numbers-content p {
    color: var(--color--2--);
    text-transform: capitalize;
}

/* End Numbers */

/* Service */
.service {
    background: var(--color--5--);
    padding: 8em 0;
}

.service-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    padding-top: 3em;
}

.s-card {
    background: var(--color--4--);
    padding: 1.5em;
    border: 1px solid var(--color--1--);
    border-radius: 6px;
    box-shadow: 4px 6px 8px #0000003d;
}

.s-card .row {
    fill: transparent;
    stroke: var(--color--2--);
    align-items: center;
    justify-content: center;
    background: var(--color--1--);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.s-card h4 {
    padding: 0.5em 0;
}

/* End Service */

/* About */
.about {
    background: var(--color--7--);
    padding: 8em 0;
}

.about-img img {
    border-radius: 5px;
    filter: drop-shadow(6px 8px 5px #0000001c);
}

.about p {
    padding: 1.5em 0;
}

/* End About */

/* Subscribe */
.subscribe {
    flex-wrap: wrap-reverse;
    padding: 8em 0;
}

.icon-details {
    padding: 2em 0;
}

.icon-details .row {
    align-items: center;
    fill: transparent;
    stroke: var(--color--2--);
    gap: 0.5em;
}

.icon-details .row+.row {
    padding-top: 1em;
}

.subscribe-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    filter: drop-shadow(6px 8px 5px #0000001c);
}

.subscribe-img::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(12, 232, 140, 0.2);

}
/* End Subscribe */

/* Footer */
footer {
    background: var(--color--2--);
    padding: 8em 0;
}

.footer-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.footer-content p {
    font-size: 14px;
    color: var(--color--1--);
    padding-top: 1.4em;
}

.social-media {
    gap: 2em;
}

.social-media a {
    fill: transparent;
    stroke: var(--color--1--);
}

.social-media a:hover {
    stroke: var(--color--3--);
}
/* End Footer */

/* Media */
@media screen and (min-width: 1125px) {
    .container {
        max-width: 1125px;
    }

    .numbers-content {
        justify-content: center;
    }

    .numbers-content div {
        padding: 0 4em;
    }

    .numbers-content div+div::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        width: 1px;
        background: var(--color--2--);
    }
    
    .hero-img {
        max-width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .toggleMenu {
        background-image: url(./images/open.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        transition: background-size 0.3s ease-in-out;
        z-index: 1000;
    }

    .toggleMenu.active {
        position: fixed;
        right: 5%;
        background-image: url(./images/close.svg);
        background-size: 25px;
    }

    .fixed .toggleMenu {
        filter: brightness(0);
    }

    .fixed .toggleMenu.active {
        filter: brightness(200%);
    }

    .navigation {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        inset: 0;
        min-height: 0;
        opacity: 0;
        transform: scale(0);
    }

    .navigation.active {
        position: fixed;
        min-height: 100vh;
        opacity: 1;
        background: var(--color--1--);
        z-index: 999;
        transform: scale(1);
        gap: 30px;
    }

    .fixed .navigation.active {
        background: var(--color--2--);
        gap: 30px;
    }

    nav ul {
        flex-direction: column;
        margin: unset;
    }

}

@media screen and (max-width: 450px) {
    .footer-content {
        justify-content: center;
        text-align: center;
    }
}
/* End Media */