@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DCE9E2;
    height: 80px;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    color: #212529;
    margin-right: 30px;
}

.logo span {
    color: #00856F;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav li a {
    font-size: 22px;
    font-weight: 400;
    color: #00856F;
}

nav li:nth-child(1) a {
    color: #00856F;
    font-weight: 700;
}

nav li {
    position: relative;
}

nav li::after {
    position: absolute;
    content: " ";
    width: 0%;
    height: 3px;
    border-radius: 2px;
    background-color: #00856F;
    bottom: -5px;
    left: 0;
    transition: 0.4s ease-in-out;
}

nav li:hover::after {
    width: 100%;
}

.button {
    font-size: 16px;
    font-weight: 600;
    color: #00856F;
    border: 2px solid #00856F;
    border-radius: 50px;
    padding: 10px 20px;
}

.button:hover {
    background-color: #00856F;
    color: #fff;
    transition: 0.2s ease-in-out;
}

/* Fim do Header */

/* Início da Main / Primeiro Container */

.s1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DCE9E2;
    height: 598px;
}

.s1-text {
    display: flex;
    flex-direction: column;
    gap: 27px;
    position: relative;
    bottom: 60px;
}

.s1-text span {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: #00856F;
}

.s1-text h1 {
    font-weight: 700;
    font-size: 52px;
    color: #212529;
}

.s1-text p {
    font-weight: 400;
    font-size: 18px;
    color: #495057;
}

.s1-text a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #00856F;
    border-radius: 50px;
    max-width: 263px;
    padding: 20px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.s1-text a:hover {
    background-color: #007763;
}

.s1-img img {
   position: relative;
   right: 20%;
   bottom: 28px;
   filter: drop-shadow(0 0 26px #00856F);
}

/* Fim do Primeiro Container */

/* Início do Segundo Container */

.s2 {
    position: absolute;
    bottom: -20%;
    left: 7%;
    border-radius: 7px;
    width: 1120px;
    height: 210px;
    background-color: #FFFAF1;
    border: 1px solid #DCE9E2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 5px 7px #00000045;
}

.s2-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s2-text :nth-child(1) {
    font-weight: 700;
    font-size: 48px;
    color: #212529;
}

.s2-text p {
    font-weight: 400;
    font-size: 16px;
    color: #00856F;
}

.line {
    height: 83px;
    width: 1px;
    background-color: #00856F;
}

/* Fim do Segundo Container */

/* Início do Terceiro Container */

.s3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1082px;
    background-color: #F7F9F9;
}

.s3-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
}

.s3-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

.s3-text span {
    font-weight: 400;
    font-size: 18px;
    color: #00856F;
    margin-bottom: 10px;
}

.s3-text h2 {
    font-weight: 700;
    font-size: 40px;
}

#s3-all-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 45px 20px;
    border: 1px solid #DCE9E2;
    padding: 20px;
    height: 207px;
    width: 347px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 6px 8px #0000003d;
}

.box:hover {
    transition: ease-in-out 150ms;
    transform: scale(1.1);
    filter: brightness(97%);
    cursor: pointer;
}

.box h3 {
    font-weight: 700;
    font-size: 24px;
    width: 100%;
}

.box p {
    font-weight: 400;
    font-size: 16px;
}

/* Fim do Terceiro Container */

/* Início do Quarto Container */

.s4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFAF1;
    height: 734px;
}

.s4-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 67px;
}

.s4-content img {
    filter: drop-shadow(6px 8px 5px #0000001c);
}

.s4-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 573px;
    height: 327px;
}

.s4-text span {
    font-weight: 700;
    font-size: 16px;
    color: #00856F;
}

.s4-text h2 {
    font-weight: 700;
    font-size: 40px;
    color: #212529;
}

.s4-text p {
    font-weight: 400;
    font-size: 16px;
    color: #495057;
}

/* Fim do Quarto Container */

/* Início do Quinto Container */

.s5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 699px;
}

.s5-content {
    display: flex;
    align-items: center;
    gap: 190px;
}

.s5-text h3 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}

.s5-text p {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    gap: 10px;
    padding: 10px;
}

.s5-text a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #00856F;
    border-radius: 50px;
    max-width: 263px;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.s5-text a:hover {
    background-color: #007763;
}

.s5-content-img {
    filter: drop-shadow(6px 8px 5px #0000001c);
}

/* Fim da Main / Quinto Container */

/* Início do Footer / Sexto Container */

.s6 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 400px;
    height: 268px;
    background-color: #00856F;
}

.s6-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 150px;
    width: 300px;
}

.s6-text :nth-child(1){
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    margin-right: 30px;
}

.s6-text :nth-child(1) span {
    font-weight: 800;
}

.s6-text p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.s6-social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    height: 150px;
    width: 300px;
}